<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>p @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @* <link rel="stylesheet" href="~/Content/jquery.jgrowl.min.css" />
    <script src="~/Scripts/jquery.jgrowl.min.js"></script>*@
    @*@Scripts.Render("~/bundles/ajax")*@
    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    @*<script src="~/Scripts/MyScript.js"></script>*@

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-main-submenu"><a href="#">Admin</a><span class="icon-dropdown"></span>
					            <ul>
						            <li>@Html.ActionLink("User", "CreateUser", "Admin")</li>
						            <li><a href="#">Roles</a></li>
					            </ul>
				        </li>
                        <li class="nav-main-submenu"><a href="#">About</a><span class="arrow-down"></span>
                            <ul>
                              <li>@Html.ActionLink("About Help1", "Help1", "About")</li>
                              <li>@Html.ActionLink("About Help2", "Help2", "About")</li>
                            </ul>
                        </li>
                         <li>@Html.ActionLink("Master", "Index", "Master")
                            <ul>
                                <li>@Html.ActionLink("Vendor", "Index", "Master")
                            </ul>
                        </li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - great.</p>
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
