<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>p @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/bundles/css")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @Scripts.Render("~/bundles/jquery")
    @*<link rel="stylesheet" href="~/Content/jquery.jgrowl.min.css" />*@
    @*<script src="~/Scripts/jquery.jgrowl.min.js"></script>*@
    @Scripts.Render("~/bundles/ajax")
    <script src="~/Scripts/MyScript.js"></script>
</head>
<body>
    <header>
        <script type="text/javascript">m("u r in: @ViewBag.Title ");</script>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("p", "Index", "Home", null, new { @class = "site-logo" })</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
    </header>
    <div id="accordionMenu">
        <h3>Home</h3>
        <div>
            <p>@Html.ActionLink("Home", "Index", "Home")</p>
            <p>@Html.ActionLink("About", "About", "Home")</p>
            <p>@Html.ActionLink("Contact", "Contact", "Home")</p>
        </div>
        <h3>Master</h3>
        <div>
            <p>@Html.ActionLink("Vendor", "Index", "MasterVendor")</p>
            <p>@Html.ActionLink("Product", "Index", "MasterProduct")</p>
            <p>@Html.ActionLink("Store", "Index", "MasterStore")</p>
        </div>
        <h3>Purchase</h3>
        <div>
            <p>@Html.ActionLink("Contract", "Index", "PurchaseContract")</p>
            <p>@Html.ActionLink("Purchase Order", "Index", "PurchasePO")</p>
        </div>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - great.</p>
            </div>
        </div>
    </footer>

    @*<script>
        $(function () {
            $("#accordionMenu").accordion();
        });
    </script>*@
    @RenderSection("scripts", required: false)

</body>
</html>
