@using p.Models;
@using p.ViewModels;

@*@model ContractItem*@
@model ContractItemViewModel

<tr style="padding-bottom: 15px">
    @using (Html.BeginCollectionItem("ContractItems"))
    {
        <td>
            <img src="@Url.Content("~/Images/draggable-icon.png")" style="cursor: move" alt="drag"/>
        </td>    

        <td class="combo">
            @*@Html.DropDownList("ProductID", String.Empty)*@
            @*@Html.DropDownListFor(model => model.ProductID, Model.Products)*@
            @*@Html.ValidationMessageFor(model => model.ProductID)*@
            @Html.DropDownListFor(model => model.ci  .ProductID, Model.Products)
            @Html.ValidationMessageFor(model => model.ci .ProductID)
        </td>

        <td>
            @Html.EditorFor(model => model.ci .Rate)
            @Html.ValidationMessageFor(model => model.ci .Rate)
        </td>

        <td>
            @Html.EditorFor(model => model.ci .Qty)
            @Html.ValidationMessageFor(model => model.ci .Qty)
        </td>  

        <td>
            @Html.EditorFor(model => model.ci .Amount)
            @Html.ValidationMessageFor(model => model.ci .Amount)
        </td>  

        <td>
            <a href="#" onclick="$(this).parent().parent().remove();">Delete</a>
        </td>
    }
</tr>

<script type="text/javascript">
    $(".combo > select").combobox();
</script>
