@model p.Models.PurchaseOrder

@{
    ViewBag.Title = "purchase order create";
}

<h2>Purchase Order Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PurchaseOrder</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorID, "Vendor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VendorID", String.Empty)
            @Html.ValidationMessageFor(model => model.VendorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StoreID, "Store")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StoreID", String.Empty)
            @Html.ValidationMessageFor(model => model.StoreID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

    </fieldset>

    <fieldset>
        <legend>POItems</legend>

        <style type="text/css">
            input {
                border: 1px solid #e2e2e2;
                background: #fff;
                color: #333;
                font-size: 1.2em;
                margin: 5px 0 6px 0;
                padding: 5px;
                width: 150px;
            }
        </style>
        <table id="itemEditor">
            <tr>
                <th></th>
                <th style="width: 100px">Product</th>
                <th style="width: 100px">Rate</th>
                <th style="width: 100px">Quantity</th>
                <th style="width: 100px">Amount</th>
                <th style="width: 100px"></th>
            </tr>

            @if (Model == null || Model.POItems == null || Model.POItems.Count == 0)
            {
                <p>None.</p>
            }
            @if (Model != null && Model.POItems != null)
            {
                foreach (POItem contractItem in Model.POItems)
                {
                    Html.RenderPartial("POItemEntry", contractItem);
                }
            }
        </table>

        <a id="addAnother" href="#">Add another</a>
        <script type="text/javascript">
            $(function () {
                $("#itemEditor").sortable();
                $("#addAnother").click(function () {
                    $.get('/PurchasePO/POItemEntryRow', function (template) {
                        $("#itemEditor").append(template);
                    });
                });
            });
        </script>

    </fieldset>    
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
